<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.ssm.entity.User">
		<constructor>
			<idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
			<arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="brith" jdbcType="DATE" javaType="java.util.Date" />
		</constructor>
	</resultMap>
	<sql id="Base_Column_List">
		id, name, password, brith
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="long">
		delete from user
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.ssm.entity.User">
		insert into user (id, name, password,
		brith)
		values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{brith,jdbcType=DATE})
	</insert>
	<insert id="insertSelective" parameterType="com.ssm.entity.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="brith != null">
				brith,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="brith != null">
				#{brith,jdbcType=DATE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ssm.entity.User">
		update user
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="brith != null">
				brith = #{brith,jdbcType=DATE},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ssm.entity.User">
		update user
		set name = #{name,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		brith =
		#{brith,jdbcType=DATE}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<select id="selectAll" parameterType="java.util.Map" resultType="com.ssm.entity.User">
		select * from user limit #{begin},#{end}
	</select>
</mapper>